@model SpinCycleLaundryHub.Models.Service
@{
    ViewData["Title"] = "Add Service";
}

<h2 class="fw-bold text-primary mb-4">Add New Service</h2>

<form method="post" class="card p-4 shadow rounded-4">
    <div class="mb-3">
        <label>Name</label>
        <input asp-for="Name" class="form-control">
    </div>

    <div class="mb-3">
        <label>Price</label>
        <input asp-for="Price" class="form-control">
    </div>

    <button class="btn btn-primary">Save</button>
</form>
